identity_service/src/generated
identity_service/.idea
identity_service/.env
identity_service/generate.bat
identity_service/generate.sh

event_service/src/generated
event_service/.idea
event_service/.env
event_service/generate.bat
event_service/generate.sh

invite_service/generated
invite_service/.idea
invite_service/.env
invite_service/generate.bat
invite_service/generate.sh

notification_service/generated
notification_service/.idea
notification_service/.env
notification_service/generate.bat
notification_service/generate.sh

gateway/app/generated
gateway/generate.bat
gateway/.idea
